h1 {
    font-weight: bold;
    font-family: Georgia;
    color: purple;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-family: Georgia;
    color: purple;
    text-align: center;
}

p {
    font-family: georgia;
    color: black;
    text-align: center;
}

.container {
    margin: 100px auto 0 auto;
    max-width: 600px;
}

button {
    display: inline-block;
    margin: 5px;
    font-size: 100%;
    background-color:purple ;
    color: white;
    padding: 2px, 10px;
    position: relative;
}

.hide {
    display: none;
}

.options button {
    display: block;
}

.submit {
    display: block;
}

.message {
    font-size: 120%;
    font-family: georgia;
    margin-top: 20px;
    padding-top: 10px;
    color: red;
    font-style: italic;
}
