h1 {
    font-weight: bold;
    font-family: Georgia;
    color: purple;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-family: Georgia;
    color: purple;
    text-align: center;
}

p {
    font-family: georgia;
    color: black;
    text-align: center;
}

.container {
    margin: 100px auto 0 auto;
    max-width: 600px;
}

button {
    display: inline-block;
    background-color:purple ;
    color: white;
}